<a href="https://colab.research.google.com/github/ptsp01/IcebergDremio/blob/main/1_6_%5BLecture%5D_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON LOOPS**

Before you start: File ▸ Save a Copy in Drive

Let's consider a situation when you want to print "Hello, World!" **five times**. Here is a simple program to do so.

In [ ]:
print("Hello World!")
print("Hello World!")
print("Hello World!")
print("Hello World!")
print("Hello World!")

It was simple, but again, let's consider another situation when you want to write Hello, World! **five thousand times**. We can certainly not write `print()` statements a thousand times. Almost all the programming languages provide a concept called loop, which helps in executing one or more statements up to a desired number of times.

**Writing loops helps reduce repetitiveness in your code, following the DRY (Don't Repeat Yourself) principle. You don't write the same block of code more than once.**

In this lesson, we will learn 2 ways to create a loop in Python.

## 1. WHILE LOOP

![](https://files.realpython.com/media/Python-while-Loops-Indefinite-Iteration_Watermarked.ef0b89ed9dae.jpg)

📖 **While-loop is a loop based on a** ***condition***

![](https://imgur.com/Nlkrpin.jpg)

How to print "Hello World!" five times

In [ ]:
a = 0
while a < 5:
    print("Hello World!")  # Notice the indentation
    a += 1

print("Finish")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Finish

Print all odd numbers smaller than 10

In [ ]:
a = 1
while a < 10:
    print(a)
    a += 2

1
3
5
7
9

![](https://img2018.cnblogs.com/blog/1746488/201910/1746488-20191007170334145-1555073306.gif)

⚠️ Notice that the code we want to execute inside a loop must be indented (with a tab). Let's take a look at a "similar" piece of code, which will **run forever** because the condition is always met.

In [ ]:
a = 1

while a < 10:
    print(a)

a += 2

📖 **Loops can be nested**

In [ ]:
a = 0

while a < 3:
    print("1st loop")
    b = 0
    while b < 3:
        print("    2nd loop")
        b += 1
    a += 1

1st loop
    2nd loop
    2nd loop
    2nd loop
1st loop
    2nd loop
    2nd loop
    2nd loop
1st loop
    2nd loop
    2nd loop
    2nd loop

☘️ We can make a list using a loop

In [ ]:
# Create a list of odd numbers less than 10
a = 1
b = []

while a < 10:
    b.append(a)
    a += 2

print(b)

[1, 3, 5, 7, 9]

🏃🏻‍♂️ **Mini exercise**

Display and count the even numbers between 1 to 10

In [ ]:
# YOUR CODE HERE
a = 2
b = []
while a < 11:
  b.append(a)
  a += 2
print(b, sum(b))

[2, 4, 6, 8, 10] 30

## 2. FOR LOOP

![](https://files.realpython.com/media/Python-for-Loops-Definite-Iteration_Watermarked.b38126d495e1.jpg)

### **`range()`**

range() is a built-in function that returns a sequence of numbers, which is very useful for writing loops.

For example, if we want to try an action 3 times:

In [ ]:
# khi một số nào không được nhập:
# - ko nhập start: ngầm hiểu là 0
# - ko nhập step: ngầm j

In [ ]:
for i in range(3):
    print("Attempt", i)  # Notice the indentation

Attempt 0
Attempt 1
Attempt 2

Note that by default, range() will start from 0. However, range() is flexible if you want to configure it.

`range(<start>, <stop>)`

In [ ]:
for i in range(1, 4):
    print("Attempt", i)

Attempt 1
Attempt 2
Attempt 3

Lastly, you can pass in a third optional parameter: `step`.

`range(<start>, <stop>, <step>)`

This controls the increment between the two values in the range. The default value of step is 1.

Let's say we want to print all odd numbers less than 10.

In [ ]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

### Iterables

`range()`, `list`, `tuple`, `set`, `string` are **iterable** objects because we can iterate over it.

For example, using a for loop we can perform the same action on each item in a list.

In [ ]:
for i in range(3):
    print(i)

0
1
2

In [ ]:
for i in [2, 4, 6]:
    print(i)

2
4
6

In [ ]:
for i in "CoderSchool":
    print(i)

C
o
d
e
r
S
c
h
o
o
l

☘️ For loop with `range()` can be used to ***access*** each element of the list via **indices**.

Let's increase each value of the list by 1

In [ ]:
my_list = [0, 2, 4, 6, 8]

for idx in range(len(my_list)):
    my_list[idx] += 1

print(my_list)

[1, 3, 5, 7, 9]

🏃🏻‍♂️ **Mini exercise**:

Add your name after every greeting below

Make a for-loop to change the list above into `['Hi <your_name>', 'Hello <your_name>', 'Hey <your_name>',...]`

In [ ]:
greetings = ["Hi", "Hello", "Hey", "Greetings", "Welcome", "Yo", "What's up"]

# YOUR CODE HERE

🔥 **CHALLENGE**: Add 2 lists of numbers element-by-element

In [ ]:
my_list_1 = [10, 11, 12, 13, 14]
my_list_2 = [100, 99, 98, 96, 95]

# YOUR CODE HERE

## FOR vs. WHILE LOOP

* for loop: breaks after a **number of iterations**, which is known **in advance**.
* while loop: breaks when a **condition** is NOT true anymore.

In [ ]:
# Enter a number. Print square value of that number if less than 50.

n = 0

while n**2 < 50:  # condition
    n = int(input())
    print(f"{n} squared is {n**2}")

print("Finish")

3
3 squared is 9
5
5 squared is 25
8
8 squared is 64
Finish

In [ ]:
for i in range(3):  # number of iterations
    print("Python is fun!")

Python is fun!
Python is fun!
Python is fun!

In [ ]:
i = 0
while i < 3:
    print("Python is fun!")
    i += 1

Python is fun!
Python is fun!
Python is fun!

## LOOP CONTROL

<img src='https://files.realpython.com/media/t.899f357dd948.png' height=500></img>

In [ ]:
for i in range(10):
    print("Round", i)
    if i > 5:
        continue
    else:
        print("  Do task A")

    print("  Do task B")

## MISC

### 🌟 **List Comprehension**

List comprehension is an elegant way to create lists based on existing lists.

📖 Syntax

The list comprehension starts with a `[` and `]`, to help you remember that the result is going to be a list.

The basic syntax is:
```python
[ expression for item in list if conditional ]
```
This is equivalent to:
```python
for item in list:
    if conditional:
        expression
```

Quickly make a list of integers from 0-9

In [ ]:
l = [x for x in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Create a list of even numbers from 0-9

In [ ]:
l = [x for x in range(10) if x % 2 == 0]
l

In [ ]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

Of course we can replace x with an expression, for example:

In [ ]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [x**2 for x in range(10) if x % 2 == 0]
squares

[0, 4, 16, 36, 64]

### ⚠️ **Do NOT loop through a set**

Order of elements in a set is ***very inconsistent***.

In [ ]:
# Integers
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
for i in my_set:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Floats
my_set = {0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9}
for i in my_set:
    print(i)

0.1
0.4
0.3
0.2
0.5
0.6
0.7
0.8
0.9

In [ ]:
# Strings
my_set = set("CoderSchool")  # The order changes every runtime reset.
for i in my_set:
    print(i)

l
c
e
d
o
C
S
r
h

**💁 Additional tool:**

[pythontutor.com](https://pythontutor.com/) is also a great way to understand how loop works. Give it a try! 😉